<!DOCTYPE html>
<html>
<head>
    <title>Headlines</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header col-xs-10 col-xs-offset-1">
                <h1 class="page-title">Headlines</h1>
            </div>

            <ul class="nav nav-platforms col-xs-10 col-xs-offset-1">
                <li role="presentation" class="active" name="home"><a href="/">Home</a></li>
                <% if(user) { %>
                    <li role="presentation" class="active" name="preferences" ><a href="/preferences">Settings</a></li>
                    <li class="nav-right" >
                        <a href="/logout" class="btn btn-default" name="logout">
                            <span class="fa fa-user"></span>
                            Logout
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-right">
                        <a href="/login" class="btn btn-default" name="login">
                            <span class="fa fa-user"></span>
                            Login
                        </a>
                    </li>
                    <li class="nav-right">
                        <a href="/signup" class="btn btn-default" name="signup">
                            <span class="fa fa-user"></span>
                            Signup
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>

        <% if(user) { %>
            <div class="row top10">
                <!-- LOCAL INFORMATION -->
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Breaking News</h3>
                        <p>
                            <strong>Welcome <%= user.username %></strong>, here are your updates.<br>
                        </p>
                    </div>
                </div>
            </div>
        <% } %>

        <ul class="media-list">
        <% for(var i = 0; i < articles.length; i++) { %>
            <li class="row top10 bottom10">
                <div class="media col-xs-10 col-xs-offset-1">
                    <div class="media-body">
                        <h4 class="media-heading"><%= articles[i].title%></h4>
                        <span><%= articles[i].feed %></span>
                    </div>
                </div>
            </li>
        <% } %>
        </ul>
    </div>
</body>
<% include jsdefaults.ejs %>
</html>