<!DOCTYPE html>
<html>
  <head>
    <title>user preferences</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
 
  <body>
    <div class="container">
        <div class="row">
            <div class="page-header col-xs-10 col-xs-offset-1">
                <h1 class="page-title">Headlines</h1>
            </div>

            <ul class="nav nav-platforms col-xs-10 col-xs-offset-1">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <!--
                <li role="presentation" class="active"><a href="#">Preferences</a></li>
                <li class="nav-right"><a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a></li>
                <li class="nav-right"><a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a></li> -->
            </ul>
        </div>
    </div>
  <p class ="text-center"> Welcome to the News Application Headlines!</p>
<p class ="text-center"> Please select from the following News Sources to be in your Newsfeed.
<p class ="text-center"><b> Source Options:</b> </p>

	
	<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	<div class="checkbox">
	  <label><input type="checkbox" value="">CNN</label>
	</div>
	</div>
	<div class="col-xs-4"></div>
	</div>
	
	<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	<div class="checkbox">
	  <label><input type="checkbox" value="">Yahoo</label>
	</div>
	</div>
	<div class="col-xs-4"></div>
	</div>
	
	<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	<div class="checkbox">
	  <label><input type="checkbox" value="">BBC</label>
	</div>
	</div>
	<div class="col-xs-4"></div>
	</div>
	
	<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	<div class="checkbox">
	  <label><input type="checkbox" value="">CNBC</label>
	</div>
	</div>
	<div class="col-xs-4"></div>
	</div>
	
	<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	<div class="checkbox">
	  <label><input type="checkbox" value="">Fox</label>
	</div>
	</div>
	<div class="col-xs-4"></div>
	</div>
	
	<p class ="text-center">     </p>
	
	<p class ="text-center"> Don't see a certain source listed? Type the URL of the News Source you're looking for and we'll see if we can add it!</p>
	
	<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	<div class="form-group">
	  <label for="comment">Additional Site Name:</label>
	  <textarea class="form-control" rows="1" id="comment"></textarea>
	</div>
	</div>
  
  </body>
  </html>